### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Intellij+all ###
.idea/*
*.iml
modules.xml
*.ipr
.idea/sonarlint

# Dependency directories
node_modules/

# Build dir
dist/
